<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <footer class="footer-basic" th:fragment="footer">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a></div>
        <ul class="list-inline fw-normal">
            <li class="list-inline-item"><a href="#" style="font-family: Bitter, serif;">Home</a></li>
        </ul>
        <p class="copyright">Company Name © 2022</p>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </footer>
</body>
</html>