<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <body>
    <div class="container" th:fragment="postForm">
      <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
        <div class="col-10 col-lg-8 offset-1 offset-lg-2 text-center">
          <h1>Add a Post</h1>
          <form class="text-start" action="#" th:action="@{/add}" th:object="${page}" method="post">
            <div class="row" style="margin-top: 5px;margin-bottom: 5px;padding-bottom: 5px;">
              <div class="col"><label class="form-label">Post Title</label><input class="form-control" type="text" th:field="*{contentTitle}"></div>
            </div>
            <div class="row" style="margin-top: 5px;margin-bottom: 5px;padding-bottom: 5px;">
              <div class="col"><label class="form-label">Post Date</label><input class="form-control" type="date" th:field="*{postDate}"></div>
            </div>
            <div class="row" style="margin-top: 5px;margin-bottom: 5px;padding-bottom: 5px;">
              <div class="col"><label class="form-label">Page Subtitle</label><input class="form-control" type="text" th:field="*{pageSubtitle}"></div>
            </div>
            <div class="row" style="margin-top: 5px;margin-bottom: 5px;padding-bottom: 5px;">
              <div class="col"><label class="form-label">Post Teaser</label><textarea class="form-control" th:field="*{postTeaserContent}"></textarea></div>
            </div>
            <div class="row" style="margin-top: 5px;margin-bottom: 5px;padding-bottom: 5px;">
              <div class="col"><label class="form-label">Post Content (Text/HTML)</label><textarea class="form-control" th:field="*{contentText}"></textarea></div>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
        <div class="col-10 col-lg-8 offset-1 offset-lg-2 text-end"><button class="btn btn-primary" type="button">Save</button></div>
      </div>
    </div>
  </body>
</html>