<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<div th:insert="fragments/header :: header"></div>
<body>

    <div class="container">
        <div class="row">
            <div id="content" class="col-md-9">
                <div class="row text-center">
                    <div class="col">
                        <h3 id="error_page_title" class="content_title" style="margin-top: 10px;margin-bottom: 10px;font-family: Bitter, serif;">An error has occurred. Sorry about that.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="home_page_content" class="text-start content_text" style="margin-top: 5px;margin-bottom: 5px;font-family: Bitter, serif;font-size: 20px;">An error has occurred when attempting to fulfill your request. It&#39;s possible that the post you tried to find doesn&#39;t exist or is just not available yet. Try again in the near future.<br /><br />To return to the home page, <a href="/home">click here.</a></p>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center sidebar_title" style="margin-top: 10px;margin-bottom: 10px;font-family: Bitter, serif;">Sidebar Title</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4 class="text-center sidebar_sub_title" style="font-family: Bitter, serif;">Sub-Title</h4>
                                <ul>
                                    <li class="sidebar_list_item">Item 1</li>
                                    <li class="sidebar_list_item">Item 2</li>
                                    <li class="sidebar_list_item">Item 3</li>
                                    <li class="sidebar_list_item">Item 4</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="collapse-sidebar" class="col">
                <div id="offcanvas-1" class="offcanvas offcanvas-end" tabindex="-1" style="max-width: 90%;">
                    <div class="offcanvas-header">
                        <h2 class="offcanvas-title">Sidebar Title</h2><button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4 class="text-center sidebar_sub_title">Sub-Title</h4>
                                <ul>
                                    <li class="sidebar_list_item">Item 1</li>
                                    <li class="sidebar_list_item">Item 2</li>
                                    <li class="sidebar_list_item">Item 3</li>
                                    <li class="sidebar_list_item">Item 4</li>
                                </ul>
                            </li>
                        </ul><button class="btn btn-primary" type="button" data-bs-dismiss="offcanvas" style="margin-top: 10px;margin-bottom: 10px;color: var(--bs-white);background: var(--bs-gray-700);border-color: var(--bs-gray-800);">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<div th:insert="fragments/footer :: footer"></div>
</html>